.card-organize{
    border: 0;
}
.card-organize-footer{
    border: 0;
    background-color: white;
}
.categories img{
    width: 100px;
    
}
.panda-slide .carousel-item{
    background-color:#fceae8 ;
    border-radius: 1em;
}
.down-color {
    background-color:#fceae8 ;
}
